html {
  height: 100%
}

body {
  font-family: 'Merriweather', serif;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(spooky.jpg);
  color: orange;
}

.btn{
  background-color: orange;
  color:black;
  border: orange;
}

h1, h2, h5 {
  font-weight: 300;
}

.row {
  margin-top: 60px;
}

i.fa {
  font-size: 100px;
}
